<p style="color: green"><%= notice %></p>
<%= form_for @recipe do |f| %>
  <div class="field">
    <%= f.label :public %>
    <%= f.check_box :public, { checked: @recipe.public?, onchange: 'this.form.submit();' }, 'true', 'false' %>
  </div>
<% end %>
<%= render @recipe %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
